body{
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins' , sans-serif;
    background-color: #EBF1F4;
    position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  padding: 0;
}


br{
    display: block;
    content: "";
    margin: -20px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #FFF;
}

::-webkit-scrollbar-thumb{
    background-color: #CECECE;
}

.header{
    height: 50px;
    width: 100vw;
    background-color: #8C61FF;
    display: flex;
    align-items: center;
}

.header > p{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding-left: 30px;
    margin: 0;
}

.events{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.events > .event-1{
    margin-top: 60px;
    height: fit-content;
    width: 90vw;
    padding: 15px;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
}

.events > .event-1 > h1{
    color: #8C61FF;
    margin: 0;
    font-weight: 600;
    padding-left: 30px;
    /* padding-top: 10px; */
}

.events > .event-1 > h1 > span{
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}
.events > .event-1 > .teams{
    height: fit-content;
    border: 1px solid #8C61FF;
    border-radius: 5px;
    width: 250px;
    margin-left: 30px;
    display: inline-block;
    padding-left: 20px;
    margin-top: 20px;
}

.events > .event-1 > .reviews > p, .events > .event-1 > .teams > p{
    margin: 0;
}

.events > .event-1 > .reviews{
    height: fit-content;
    border: 1px solid #8C61FF;
    border-radius: 5px;
    width: 150px;
    margin-left: 30px;
    display: inline-block;
    padding-left: 10px;
}

.view {
    display: inline-block;
    float: right;
}

.view a button{
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    background-color: #8C61FF;
    padding: 10px 20px;
    margin-top: 20px;
}

.number{
    font-size: 30px;
    color: #8C61FF;
    font-weight: 600;
}

.add{
    height: 50px;
    background-color: #fff;
    width: 90vw;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(140, 97, 255, 0.5);
    font-size: 30px;
    font-weight: 600;   
}

/* .add > i{
    color: rgba(140, 97, 255, 0.5);
    font-size: 30px;
    font-weight: 600;
} */

.add:hover{
    color: rgba(140, 97, 255, 1);
}

.card{
    min-height: fit-content;
    height: 590px;
    width: 800px;
    padding: 20px;
    color: #8C61FF;
    background-color: #FFF;
    border-radius: 5px;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    overflow-y: auto;
}


.card.active{
    transform: translate(-50%, -50%) scale(1);
    z-index: 100;
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active{
    pointer-events: all;
    opacity: 1;
}

.card > h2{
    font-weight: 600;
    margin: 0;
}

.card > h2 > .close{
    float: right;
    font-size: 35px;
    font-weight: lighter;
    cursor: pointer;
}

.details , .problem-statements, .judgement{
    padding-left: 20px;
    margin-top: 30px;
}

.problem-statements{
    position: relative;
}

form h4{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

form label{
    display: inline-block;
    width: 180px;
    padding-left: 20px;
}

form input{
    width: 60%;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #8C61FF;
    outline: none;
    border-radius: 5px;
    color: #8C61FF;
}

form input:hover, form input:focus{
    box-shadow: 0px  0px 2px rgb(94, 38, 248);
}

.judgement input {
    width: 30%;
}

.max{
    display: inline-block;
    width: 100px;
}

.nice-number button{
    background-color: #8C61FF;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.nice-number input{
    padding: 5px;
}

.nice-number{
    display: inline-block;
}

.nice-number button:hover, .create:hover, .view a button:hover{
    background-color: rgb(116, 66, 252);
}

.button-create{
    width: 100%;
    text-align: center;
}

.add-statements{
    background-color: #8C61FF;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 60px;
    text-align: center;
    height: 25px !important;
    width: 25px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
}

.add-statements:hover{
    background-color: rgb(116, 66, 252);
}

.add-statements input{
    position: relative;
}

.remove{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 25px;
    width: 25px;
    background-color: #8C61FF;
    border-radius: 50%;
    /* margin-left: 5px; */
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.remove:hover, .remove-metrics:hover, .create1:hover, .add-metrics:hover{
    background-color: rgb(116, 66, 252);
}

.new-div{
    width: 100%;
}

.judgement{
    position: relative;
}

.add-metrics{
    background-color: #8C61FF;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 60px;
    text-align: center;
    height: 25px !important;
    width: 25px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
}

.remove-metrics{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 25px;
    width: 25px;
    background-color: #8C61FF;
    border-radius: 50%;
    /* margin-left: 5px; */
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.create1{
    border: none;
    border-radius: 5px;
    background-color: #8C61FF;
    color: #FFF;
    font-size: 20px;
    padding: 8px 20px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 900px)
{
    .card{
        height: fit-content;
        width: fit-content;
        margin-right: 10px;
        /* margin-left: 10px; */
    }
}

@media (max-width: 850px)
{
    form input{
        width: 50%;
    }

    .judgement label{
        width: 90px;
    }
}

@media (max-width: 768px)
{
    .number{
        font-size: 24px;
    }

    .events > .event-1 > .teams, .events > .event-1 > .reviews{
        height: fit-content;
        padding-left: 10px;
        padding-right: 10px;
        width: fit-content;
    }

    .events > .event-1 > .reviews
    {
        margin-left: 5px;
    }

    .view a button{
        font-size: 18px;
        padding: 8px 15px;
        /* margin-top: 0; */
    }
}

@media (max-width: 700px)
{
    form input{
        width: 40%;
    }

    .judgement input{
        width: 20%;
    }

}

@media (max-width: 650px)
{
    .events > .event-1 > .teams, .events > .event-1 > .reviews
    {
        display: block;
    }

    .events > .event-1 > .reviews{
        margin-top: 10px;
        margin-left: 30px;
    }

    .nice-number button{
        font-size: 20px;
    }

    label{
        font-size: 12px;
    }

    form label{
        width: 135px;
    }

    .judgement label{
        width: 70px;
    }

}

